.App {
  text-align: center;

} 

body {
  padding: 25px;
  font-family: 'Times New Roman';
  font-weight: 100;
  background-color: #1A2130;
  text-align: center;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-size {
  height: 57px;
  width: 155px;
}
.welcome {
  /* margin-left: 20px; */
  /* background: -webkit-linear-gradient(white, yellow); */
  background-image: linear-gradient(#FDFFE2, #FDFFE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22;

}

.welcome-1 {
  margin-left: 20px;
  /* background: -webkit-linear-gradient(white, yellow); */
  background-image: linear-gradient(#FDFFE2, #FDFFE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22;  
}

.newsfeed {
  font-size: 15;
  color: #FDFFE2;
  text-align: center;

}

.checkboxes {
  text-align: center;
  display: flexbox;

}


.labels {
  font-size: 18px;
  color: #FDFFE2;
  padding: 15px;
  
}

.feed {
  margin-top: 35px;
}

.no-underline {
  text-decoration: none;
}


.article-box {
  border: 1px, #FDFFE2, solid;
  width: 400px;
  text-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.image-serve {
  aspect-ratio: auto;
  height: 200px;
  border-radius: 20px;
}


.container {
  margin-top: 25px;
  display: inline-flex;  
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
}

.image-missing {
  width: 300;
  height: 300;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./static/placeholder.jpg');
}

.earlier {
  text-align: right;
  font-size: 15px;
  margin-right: 35px;
  color: #FDFFE2;
}

.headline {
  color: #FDFFE2;
  margin: 10px;
}

.selection {
  display: inline;
  margin: 10px;
  background-color : #5A72A0;
  color: #FDFFE2;
  width: fit;
  padding: 9px;
  font-size: 14px;
  height: 36px;
  overflow: hidden;
  border: none;
}

.welcome-2 {
  text-align: left;
  margin-top: 70px;
  margin-left: 120px;
  text-transform: capitalize;
  background-image: linear-gradient(#FDFFE2, #FDFFE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22;
  z-index: 2;  
}

.dropdown {
  display: inline-block;

}

.dropdown-button {
  background-color: #83B4FF;
  color: #FDFFE2;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 14px;
  min-width: 150px;
}

.dropdown-list {
  color: black;
  background-color: #FDFFE2;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 150px;
  height: 200px;
  z-index: 1;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  padding: 10px;
  cursor: pointer;
  background-color: #FBE4D6;
  color: #1A2130
}

.dropdown-list li:active {
  padding: 10px;
  cursor: pointer;
  color: #FDFFE2;
  background-color: #1A2130
}

.new-button {
  display: inline;
  position: relative;
  top: 0px;
  left: 0px;
  width: auto;
  height: 36px;
  border: none;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
  background-color : #5A72A0;
  color: #FDFFE2;
}

.button-display {
  margin-left: 160px;
  margin-right: 160px;
  justify-content: center;
  display : flex;
  flex-wrap: wrap;
  gap: 0px 15px;
}

.article-begin {
  position: absolute;

}

.hidden-button {
  display: none;
}